:root{
  /*Primary Colors*/
  --pale-pink: rgb(237, 115, 115);
  --hover-pink: rgb(243, 79, 79);
  --white-grey: rgb(252, 252, 252);
  --black: rgb(20, 20, 20);
  /*Secondary Color*/
  --dark-grey: rgba(77, 77, 77, 0.5);
  /*Menu Overlay*/
  --overlay-white: rgba(252, 252, 252, 1); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container{
  margin: 0 auto;
  width: 80%;
  max-width: 75rem;
}
.v-height{
  height: 100vh;
}
.btn{
  display: inline-block;
  padding: 3% 5%;
  margin: 10% 0%;
  font-weight: 600;
}


/*---MENU---*/
.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}


.logo{
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 5rem;
  height: 5rem;
  margin-right: 0.2rem;
}
.logo-btn {
  display: block;
  width: 4.6rem;
  height: 3.6rem;
  cursor: pointer;
  margin: 0.6rem 0 0 0;
}

/*---MAIN---*/
.home{
  display: flex;
  flex-direction: column;
}

/*---SECTION-1---*/
.section1{
  width: 100%;
  background-image: url(../images/home.png);
  background-size: auto 100vh;
  background-position: 75% 0%;
  background-repeat: no-repeat;
}
.bg-top{
  background-image: linear-gradient(rgba(235, 96, 96, 0.6), rgba(255, 245, 245, 0.1));
}
.center-content{
  display: flex;
  align-items: center;
}
.box-title{
  padding: 10% 0;
}
.home-title{
  color: var(--white-grey);
  font-size: 3.2rem;
}
.order-now-btn{
  color: var(--white-grey);
  background-color: var(--pale-pink);
  border-radius: 2rem;
  transition: background-color 1s ease;
}
.order-now-btn:hover{
  background-color: var(--hover-pink);
}

/* ---SECTION-2--- */
.section2{
  background-color: var(--pale-pink);
  color: var(--white-grey);
  text-align: center;
}
.section2 h2{
  font-size: 2.6rem;
  margin: 2rem 0;
  padding: 0.5rem;
}
.section2 h3{
  margin: 1rem 0;
  padding: 0.5rem;
}
.section2 .dish-intro{
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.dishes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dish-box{
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 3rem;
}
@media (min-width: 550px){
  .dish-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  .dish-right-side-text{
    width: 65%;
    text-align: left;
  }
}
.dish{
  margin: 0 auto 1rem auto;
  width: 7.5rem;
  height: 7.5rem;
  background-size: 7.5rem 7.5rem;
  background-repeat: no-repeat;
}
.dish1{
  background-image: url(../images/dish1.png);
}
.dish2{
  background-image: url(../images/dish2.png);
}
.dish3{
  background-image: url(../images/dish3.png);
}
.dish-name{
  margin-bottom: 1rem;;
}
.see-menu-btn{
  display: block;
  color: var(--white-grey);
  border: 1px solid var(--white-grey);
  width: 8rem;
  text-align: center;
  margin: 1rem auto 3rem auto;
  transition: background-color 0.4s ease;
}
.see-menu-btn:hover{
  background-color: var(--white-grey);
  color: var(--pale-pink);
}
@media (min-width: 550px){
  .see-menu-btn{
    width: 10rem;
  }
  .dish-name{
    margin-bottom: 0.5rem;;
  }
}

/* ---SECTION-3--- */
.section3{
  background-image: url(../images/sushiman-bg.jpg);
  background-size: auto 100vh;
  background-position: -3.5rem 0;
}
.top-bg{
  width: 100%;
  height: 100%;
  background-color: var(--dark-grey);
}