:root{
  --pale-pink: rgb(237, 115, 115);
  --hover-pink: rgb(243, 79, 79);
  --white-grey: rgb(252, 252, 252);
  --black: rgb(20, 20, 20);
  --overlay-white: rgba(252, 252, 252, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}
.container{
  margin: 0 auto;
  width: 80%;
  max-width: 75rem;
}
.v-height{
  height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*---MENU---*/
.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}


.logo{
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 5rem;
  height: 5rem;
  margin-right: 0.2rem;
}
.logo-btn {
  display: block;
  width: 4.6rem;
  height: 3.6rem;
  cursor: pointer;
  margin: 0.6rem 0 0 0;
}

/*---MAIN---*/
.home{
  display: flex;
  flex-direction: column;
}

/*---SECTION-1---*/
.section1{
  width: 100%;
  background-image: url(../images/home.png);
  background-size: auto 100vh;
  background-position: 75% 0%;
  background-repeat: no-repeat;
}
.bg-top{
  background-image: linear-gradient(rgba(235, 96, 96, 0.6), rgba(255, 245, 245, 0.1));
}
.center-content{
  display: flex;
  align-items: center;
}
.box-title{
  padding: 10% 0;
}
.home-title{
  color: var(--white-grey);
  font-size: 3.2rem;
}

.order-now-btn{
  display: inline-block;
  color: var(--white-grey);
  background-color: var(--pale-pink);
  font-weight: 600;
  padding: 3% 5%;
  border-radius: 2rem;
  margin: 10% 0%;
  transition: background-color 1s ease;
}
.order-now-btn:hover{
  background-color: var(--hover-pink);
}

/* ---SECTION-2--- */
.section2{
  background-color: var(--pale-pink);
  color: var(--white-grey);
}
.section2 h2{
  font-size: 2.6rem;
}
.dishes{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dish-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}